parameters:
    bootstrap: vendor/autoload.php
    ignoreErrors:
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
        -
            message: '#^Variable method call on mixed\.$#'
            path: src/Middleware/DispatcherMiddleware.php
        - '#^Dynamic call to static method PHPUnit\\Framework\\.*$#'
        - '#^PHPDoc tag @var for property .* with type mixed is not subtype of native type.*$#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
